@import "reset.css";
:root{
    --lightBlueColor: #3498db;
    --darkGray: #515151;
    --lightGray:#f1f1f1;
    --lightColor: #fff;
    --darkGreenColor : #16a085;

}
body{
    background:  url(../images/login.jpg);
    background-size: cover;
}
